:root {
    --title-bg-color: brown;
    --title-color: white;
    --toc-bg-color: lightsalmon;
    --toc-link-color: brown;
    --toc-link-visited-color: #420;
    --toc-link-active-color: pink;
    --content-accent-color: brown;
    --content-headline-bg-color: lightsalmon;
    --content-text-color: black;
    --content-bg-color: white;
    --content-table-header-color: #fff;
    --content-table-header-bg: #444;
    --content-table-row-odd-bg: #ddd;
    --content-table-row-even-bg: #fff;
    --content-table-data-color: #000;
    --codeblock-common-bg-color: #222;
    --codeblock-common-border-color: #222;
    --codeblock-default-text-color: #adf;
    --codeblock-c-operator: white;
    --codeblock-c-keyword: #58c;
    --codeblock-c-include-module: #d82;
    --codeblock-c-control: #b6a;
    --codeblock-c-preprocess: #b6a;
    --codeblock-c-literal: #eea;
    --codeblock-c-comment: #583;
    --codeblock-c-line-number: #888;
    --codeblock-python-operator: white;
    --codeblock-python-keyword: #58c;
    --codeblock-python-import: #58c;
    --codeblock-python-variable:#26e;
    --codeblock-python-string: #d82;
    --codeblock-python-builtin:#592;
    --codeblock-python-control: #b6a;
    --codeblock-python-literal: #eea;
    --codeblock-python-comment: #888;
    --codeblock-python-line-number: #888;
}

body {
    margin: 0;
}

header {
    margin: 0;
    top: 0;
    position: sticky;
}

h1.title {
    margin: 0;
    padding: 0.5rem 0;
    background-color: var(--title-bg-color);
    color: var(--title-color);
    text-align: center;
}

main {
    display: flex;
}

aside {
    background-color: var(--toc-bg-color);
    flex-shrink: 0;
    float: left;
}

nav {
    top: 5.5rem;
    padding-right: 0.5rem;
    width: fit-content;
    position: sticky;
}

/* TOC style */
nav ul {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0.5em;
    counter-reset: toc-item-count;
}

nav ul li ul {
    margin-bottom: 0.5rem;
}

nav ul li::before {
    color: var(--toc-link-color);
    counter-increment: toc-item-count;
    padding-right: 0.5rem;
    content: counters(toc-item-count, ".") ".";
}

nav a:link {
    color: var(--toc-link-color);
}

nav a:visited {
    color: var(--toc-link-visited-colorcolor);
}

nav a:active {
    color: var(--toc-link-active-color);
}


article {
    counter-reset: section figure-count;
    margin-bottom: 4rem;
    padding: 0.5rem;
    float: right;
    width: 100%;
    max-width: 64rem;
    margin-left: auto;
    margin-right: auto;
}

h1:not([class]) {
    margin: 0;
    border: 2px solid var(--content-accent-color);
    background-color: var(--content-headline-bg-color);
    counter-reset: sub-section;
}

h1:not([class])::before {
    border: 4px solid var(--content-accent-color);
    background-color: var(--content-accent-color);
    padding-left: 0.5rem;
    margin-right: 1rem;
    counter-increment: section;
    content: counter(section) ".";
}

h2:not([class]) {
    margin: 0;
    border-bottom: 2px solid var(--content-accent-color);
    border-left: 4px solid var(--content-accent-color);
    counter-reset: sub-sub-section;
}

h2:not([class])::before {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    counter-increment: sub-section;
    content: counter(section) "." counter(sub-section) ".";
}

h3:not([class]) {
    font-size: medium;
    width: fit-content;
    margin: 0;
    border-bottom: 2px dashed var(--content-accent-color);
    counter-reset: bulletpoint;
}

h3:not([class])::before {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    counter-increment: sub-sub-section;
    content: counter(section) "." counter(sub-section) "." counter(sub-sub-section);
}

h4:not([class]) {
    font-size: medium;
    width: fit-content;
    margin: 0;
}

h4:not([class])::before {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    counter-increment: bulletpoint;
    content: "(" counter(bulletpoint) ")";
}

article p {
    text-indent: 1rem;
    margin: 0.5rem 1rem;
    color: var(--content-text-color);
}

figure {
    margin: 0.5rem auto;
    display: block;
    text-align: center;
}

svg {
    padding: 8px;
    background-color: white;
    border-radius: 8px;
    border: 1px solid black;
}

figcaption::before {
    margin-right: 0.5rem;
    counter-increment: figure-count;
    content: "図." counter(figure-count)
}

article table {
    font-family: sans-serif;
    border-radius: 12px;
    border-width: 2px;
    border-color: var(--content-table-header-bg);
    border-style: solid;
    border-collapse: separate;
    border-spacing: 0;
    margin: 0.5rem auto;
}

article th {
    background-color: var(--content-table-header-bg);
    color: var(--content-table-header-color);
    font-size: larger;
    text-align: center;
}

article table td {
    color: var(--content-table-data-color);
}

article table td,
article table th {
    padding: 8px 1em 8px 1em;
}

article table tr:nth-child(odd) td {
    background-color: var(--content-table-row-odd-bg);
}

article table tr:nth-child(even) td {
    background-color: var(--content-table-row-even-bg);
}

article table tr:first-child th:first-child {
    border-radius: 8px 0 0 0;
}

article table tr:first-child th:last-child {
    border-radius: 0 8px 0 0;
}

article table tr:last-child td:first-child {
    border-radius: 0 0 0 8px;
}

article table tr:last-child td:last-child {
    border-radius: 0 0 8px 0;
}

/* code block */
code {
    font-family: monospace, monospace;
}

p>code,
td>code {
    background-color: #ddd;
    color: #000;
    border-radius: 2px;
    padding: 2px 4px 2px 4px;
    margin: 0 4px 0 4px;
}


div.sourceCode {
    border: 1px solid var(--codeblock-common-border-color);
    padding: 1rem 0;
    border-radius: 1rem;
    background-color: var(--codeblock-common-bg-color);
    color: var(--codeblock-default-text-color);
    margin: 1rem 2rem;
}

code.sourceCode {
    counter-reset: line-count;
}

code.sourceCode>span::before {
    display: inline-block;
    width: 3rem;
    text-align: right;
    padding-right: 2px;
    margin-right: 0.5rem;
    border-right: 1px solid var(--codeblock-c-line-number);
    color: var(--codeblock-c-line-number);
    counter-increment: line-count;
    content: counter(line-count);
}

code.sourceCode.c span {
    font-style: normal;
    font-weight: normal;
}

code.sourceCode.c>span>span.cf {
    color: var(--codeblock-c-control);
}

code.sourceCode.c>span>span.kw {
    color: var(--codeblock-c-keyword);
}

code.sourceCode.c>span>span.pp {
    color: var(--codeblock-c-preprocess);
}

code.sourceCode.c>span>span.im {
    color: var(--codeblock-c-include-module);
}

code.sourceCode.c>span>span.dv {
    color: var(--codeblock-c-literal);
}

code.sourceCode.c>span>span.co {
    color: var(--codeblock-c-comment);
}

code.sourceCode.c>span>span.dt {
    color: var(--codeblock-c-keyword);
}

code.sourceCode.c>span>span.op {
    color: var(--codeblock-c-operator);
}

code.sourceCode.python span {
    font-style: normal;
    font-weight: normal;
}

code.sourceCode.python>span>span.cf {
    color: var(--codeblock-python-control);
}

code.sourceCode.python>span>span.kw {
    color: var(--codeblock-python-keyword);
}

code.sourceCode.python>span>span.im {
    color: var(--codeblock-python-import);
}

code.sourceCode.python>span>span.dv {
    color: var(--codeblock-python-literal);
}

code.sourceCode.python>span>span.st {
    color: var(--codeblock-python-string);
}

code.sourceCode.python>span>span.va {
    color: var(--codeblock-python-variable);
}

code.sourceCode.python>span>span.bu {
    color: var(--codeblock-python-builtin);
}

code.sourceCode.python>span>span.co {
    color: var(--codeblock-python-comment);
}

code.sourceCode.python>span>span.dt {
    color: var(--codeblock-python-keyword);
}

code.sourceCode.python>span>span.op {
    color: var(--codeblock-python-operator);
}


/* math */
math[display="block"] {
    width: fit-content;
    min-width: 30vw;
    padding: 1rem;
    border: 1px solid #888;
    outline-offset: 2px;
    outline: 1px solid #888;
    border-radius: 8px;
    margin: 1rem auto;
}